@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.starting-page {
    background-image: url("img/main-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
    height: 600px;
}

.starting-page .masking-div {
    background: rgba(0, 0, 0, 0.5);
    height: 600px;
}

.navbar {
    padding: 20px 50px;
    z-index: 1;
    /* background-color: #ffffff;
    opacity: 0.6; */
    /* opacity: 0; */
    background: rgba(93, 85, 85, 0.7);
    border: 1px solid black;
    /* background-color: lightblue; */
}

.navbar .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    /* color: white; */
    color: white;
    opacity: 1;

}

.navbar .navbar-items-div {
    display: inline-flex;
    float: right;
    margin-top: 3px;
}

.navbar .navbar-nav {
    display: inline-flex;
    margin: 0px;
}

.navbar a {
    text-decoration: none;
    /* color: white; */
    color: white;
    transition: color 0.2s;
}


.navbar .nav-item {
    display: inline-flex;
    color: white;
    padding: 0px 10px;
    font-weight: bold;

}

.navbar a:hover{
    color: lightgray;
}




.location-search {
    color: white;
    text-align: center;
    margin-top: 120px;
}

.location-search h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 0;
}

.location-search h2 {
    font-size: 30px;
    margin-top: 10px;
}

.location-input {
    background-color: white;
    display: inline-flex;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
}

.location-search select {
    font-size: 18px;
    width: 30%;
    border: none;
    padding: 0px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.location-search-box {
    font-size: 18px;
    width: 70%;
    border: none;
    padding: 20px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.location-search-box:focus,
.location-search select {
    outline: none;
}


/* Services section starts */

.services-flex-item > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.services-flex-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.services-flex-item {
    width: 350px;
    height: 250px;
    text-align: center;
    background: white;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 1.2rem;
    transition: transform .3s;
}

.services-flex-item:hover{
    transform: scale(1.05);
}


.services-flex-content > h4 {
    margin-top: 0px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.services-flex-container > p {
    line-height: 1.25;
}

#services-flex-item-1 {
    margin-left: 200px;
}

#services-flex-item-3 {
    margin-right: 200px;
}

.services-flex-content {
    text-align: left;
    padding: 10px;
}

/* Services section ends */


/* Collections */

.collection{
    padding: 50px 210px;
}

.all-collection-cards{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.collection-card{
    width: 24%;
    display: inline-flex;
    border-radius: 10px;
    justify-content: space-between;
    position: relative;
}

.collection-card-image{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.collection-card-detail{
    width: 100%;
    padding: 5px 0;
    position: absolute;
    color: white;
    bottom: 0px;
    background-image: linear-gradient(transparent, black);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-detail{
    margin-bottom: 0px;
    padding: 5px 20px 0;
    font-size: 18px;

}

.card-detail-places{
    margin-top: 3px;
    padding:0px 20px;
}

/* Collections End */

/* Popular Locations */

.popular-locations{
    padding: 30px 210px;
}

.all-location-cards{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;   
    justify-content: space-between; 
    margin-top: 20px;
}

.location-card{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    min-width: 27%;
    padding: 15px 25px;
    position: relative;
    margin: 0 auto 20px;
    transition: box-shadow 0.3s;
}

.location-card:hover{
    box-shadow: 10px 10px 10px -15px #111;
}

.location-card p{
    margin: 0px;
}

.redirecting-arrow{
    position: absolute;
    right: 25px;
    bottom: 30px;
}

.location-card-heading{
    margin: 0px;
    position: relative;
    font-size: 20px;
    margin-bottom: 7px!important;
}

.location-card-places{
    position: relative;
}

/* Popular location end */


/* Explore Section */

.explore{
    padding: 0px 210px 50px;
    /* background-color: #fcfcfc; */
}

.explore-card{
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid rgb(232, 232, 232);
    padding: 25px 70px;
    max-height: 25px;
    overflow: hidden;
    transition: max-height 0.2s;
}

.explore-card:hover{
    max-height: 10rem;
}

.visible-part-explore{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.visible-part-heading{
    margin: 0 auto 0 0;
}

.visible-part-drop-arrow{
    margin: 0 0 0 auto;
}

.hidden-part-explore{
    margin-top: 40px;
}


/* Explore Section End */

/*Get GOODIES app*/
.goodies-app {
	margin: 100px auto;
	/* padding-top: 20px; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.goodies-app img {
	height: 600px;
}

.goodies-app .goodies-app-right {
	margin-left: 50px;
	width: 450px;
}

.goodies-app .goodies-app-right h1{
	font-size: 40px;
	margin-bottom: 20px;
}

.goodies-app .goodies-app-right p{
	font-size: 16px;
	margin-bottom: 20px;
}

.goodies-app-right .radio-btn {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 50%;
	padding-right: 50px;
	margin-bottom: 20px;
}

.goodies-app-right .radio-btn input[type="radio"] {
	transform: scale(1.5);
	margin-right: 10px;
}

.goodies-app-right .email-phone {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.goodies-app-right input[type="text"] {
	padding: 13px 12px;
	border-radius: 8px;
	border: 1px solid #cfcfcf;
	margin-right: 10px;
}

.goodies-app-right a.btn-share {
	color: #fff;
	background-color: #ed5a6b;
	border-radius: 8px;
	padding: 13px 12px;
	text-decoration: none;
}

.goodies-app-right a.btn-share:hover {
	background-color: #ec4654;
}

.goodies-app-right .app-store {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.goodies-app-right p.small-text {
	color: #9c9c9c;
	margin-top: 20px;
}

.goodies-app-right .app-store .app-image {
	margin-right: 20px;
}

.goodies-app-right .app-store img {
	width: 137px;
	height: 40px;
}



/*Footer bar*/
.footer-bar {
	padding-top: 50px;
}

.footer-bar .footer-lang {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

.footer-bar .footer-lang img.footer-logo {

	height: 150px;
}

.footer-bar .footer-lang a.lang-btn {
	text-decoration: none;
	font-size: 16px;
	color: #1c1c1c;
	padding: 8px 5px;
	border: 1px solid #b5b5b5;
	border-radius: 8px;
	margin-right: 15px;
}

a.lang-btn {
    width: 40px;
}

.footer-bar .footer-last-links {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-top: 30px;
	padding-bottom: 50px;
}

.footer-bar .footer-last-links ul li{
	list-style: none;
	margin-bottom: 5px;
}

.footer-bar .footer-last-links h4.footer-list-title {
	margin-bottom: 10px;
	letter-spacing: 0.2rem;
	font-size: 14px;
}

.footer-bar .footer-last-links ul li a {
	text-decoration: none;
	color: #696969;
	font-size: 14px;
}

.footer-bar .footer-last-links ul li a:hover {
	color: #1c1c1c;
}

.footer-bar .footer-last-links .footer-social-icons {
	margin-bottom: 20px;
}

.footer-bar .footer-last-links .footer-social-icons a {
	color: #1c1c1c;
}

.footer-bar .footer-last-links .footer-social-icons .fa-facebook,
.footer-bar .footer-last-links .footer-social-icons .fa-twitter,
.footer-bar .footer-last-links .footer-social-icons .fa-instagram {
	font-size: 20px;
	margin-right: 5px;
}

.footer-bar .footer-copyright {
	padding: 15px;
    text-align: center;
	border-top: 1px solid #0a0a0a;
}




/* DARK-THEME BUTTON */

*{
    margin: 0;
    padding: 100;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container{
    width: 100%;
    height: 100%;
    padding: 80px 20px;
    transition: .4s ease;
}



/* Styling the checkbox input */
#checkbox{
    position: fixed;
    top: 20px;
    right: 20px;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    width: 80px;
    height: 40px;
    background: black;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
}

/* styling the circle inside the checkbox input */
#checkbox::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    background-color:white;
    border-radius: 35px;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .3s linear;
}

/* Switching to the dark when the checkbox is toggled */
#checkbox:checked + .main-container{
	background: rgb(19, 18, 18);
	color: white;
  }
  

  #checkbox:checked::before{
    left: 40px;
}
/* changing the color of the checkbox when it's toggled */
#checkbox:checked{
    background: rgb(11, 168, 77);
}
