@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.starting-page {
    background-image: url("img/main-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
    height: 600px;
}

.starting-page .masking-div {
    background: rgba(0, 0, 0, 0.5);
    height: 600px;
}

.navbar {
    padding: 20px 50px;
    z-index: 1;
    /* background-color: #ffffff;
    opacity: 0.6; */
    /* opacity: 0; */
    background: rgba(93, 85, 85, 0.7);
    border: 1px solid black;
    /* background-color: lightblue; */
}

.navbar .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    /* color: white; */
    color: white;
    opacity: 1;

}

.navbar .navbar-items-div {
    display: inline-flex;
    float: right;
    margin-top: 3px;
}

.navbar .navbar-nav {
    display: inline-flex;
    margin: 0px;
}

.navbar a {
    text-decoration: none;
    /* color: white; */
    color: white;
}


.navbar .nav-item {
    display: inline-flex;
    color: white;
    padding: 0px 10px;
    font-weight: bold;
    color: #000000;

}


.location-search {
    color: white;
    text-align: center;
    margin-top: 120px;
}

.location-search h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 0;
}

.location-search h2 {
    font-size: 30px;
    margin-top: 10px;
}

.location-input {
    background-color: white;
    display: inline-flex;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
}

.location-search select {
    font-size: 18px;
    width: 30%;
    border: none;
    padding: 0px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.location-search-box {
    font-size: 18px;
    width: 70%;
    border: none;
    padding: 20px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.location-search-box:focus,
.location-search select {
    outline: none;
}


/* Services section starts */

.services-flex-item > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.services-flex-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.services-flex-item {
    width: 350px;
    height: 250px;
    text-align: center;
    background: white;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 1.2rem;
}

.services-flex-content > h4 {
    margin-top: 0px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.services-flex-container > p {
    line-height: 1.25;
}

#services-flex-item-1 {
    margin-left: 200px;
}

#services-flex-item-3 {
    margin-right: 200px;
}

.services-flex-content {
    text-align: left;
    padding: 10px;
}

/* Services section ends */